# --------------------
# Python
# --------------------
__pycache__/
*.pyc
.env

# --------------------
# SQLite databases
# --------------------
*.sqlite
*.db

# --------------------
# OS junk
# --------------------
.DS_Store
Thumbs.db

# --------------------
# PyInstaller
# --------------------
build/
dist/
*.spec

# --------------------
# Runtime data (generated at runtime)
# --------------------
frontend/data/*.json
frontend/data/*.sqlite

# --------------------
# Logs
# --------------------
logs/
run/